html {
  font-size: 62.5%;
  /*=============== HEADER ==================*/
  /*=============== FOOTER ==================*/
  /*=============== INDEX ==================*/
  /*=============== GALERIA ==================*/
  /*=============== QUE HACER ==================*/
  /*=============== CONTACTO ==================*/
  /*=============== PLANEA TU VIAJE ==================*/
  /* .planear__box--reverse {
         flex-direction: row-reverse;
     }

     .planear__img {
         width: 100%;
         height: 70rem;
         margin: 4rem 0;
         object-fit: cover;
     }


     .planear__box {
         width: 100%;
         display: flex;
         flex-wrap: wrap;
         justify-content: space-around;
     }

     .planear__box__item {
         flex-direction: column;
         justify-content: space-around;
         align-content: center;
         width: 45%;
         margin: 2rem;

         @include mediaqueri (md) {
             width: 100%;
         }
     }

     .planear__box__item span {
         font-size: 5rem;
         color: #fff;
     }


     .planear__box__item h3 {
         color: white;
         margin: 0 auto;
         font-weight: lighter;
         text-align: center;
     }

     .planear__box a {
         display: block;
         width: 200px;
         text-decoration: none;
         background-color: $main-color;
         color: #fff;
         font-size: 1.2rem;
         border: 1px solid transparent;
         border-radius: .7rem;
         text-align: center;
         padding: 1rem .8rem;
         margin-top: 2rem;
         transition: all .5s ease;
     }

     .planear__box a:hover {
         background-color: white;
         border: 1px solid $main-color;
         color: $main-color;

     }
  */
}
html * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html .contenedor {
  max-width: 1320px;
  margin: 0 auto;
  overflow: hidden;
}
@media screen and (min-width: 992px) {
  html .contenedor {
    width: 100%;
    padding: 1rem;
  }
}
html .box {
  display: flex;
  flex-wrap: wrap;
}
html h2, html h3, html h4 {
  font-size: 2rem;
  font-weight: bolder;
  letter-spacing: 0.2rem;
  margin: 1rem 0;
}
html h5 {
  font-size: 1.5rem;
  font-weight: bold;
}
html h6 {
  font-size: 1.2rem;
}
html p {
  font-size: 1.6rem;
  font-weight: lighter;
  line-height: 3rem;
}
html i {
  margin-right: 1rem;
}
html .main__section {
  padding: 5rem 1rem;
}
html .section__title {
  text-align: center;
  margin-bottom: 5rem;
}
html .header {
  display: flex;
  justify-content: center;
}
html .header .header__banner {
  position: relative;
  width: 100%;
  height: 95vh;
  background-color: black;
  overflow: hidden;
}
html .header .header__banner .header__slide {
  display: flex;
  list-style: none;
  width: 400%;
  margin: 0;
  padding: 0;
  animation: slide 20s infinite ease;
}
html .header .header__banner .header__slide .header__slide__item {
  width: 100%;
  height: 100vh;
}
@keyframes slide {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}
html .header .header__banner .header__timer {
  width: 100%;
  height: 0.5rem;
  background-color: #FF9E00;
  position: absolute;
  bottom: 0;
  animation: timer 5s infinite ease-in-out;
}
@keyframes timer {
  0% {
    width: 0;
  }
}
html .header .header__banner .header__titulo {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.417);
  bottom: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
html .header .header__banner .header__titulo .titulo__contenido {
  padding: 1rem;
  width: 100%;
}
html .header .header__banner .header__titulo h1,
html .header .header__banner .header__titulo h2,
html .header .header__banner .header__titulo p {
  display: block;
  font-size: clamp(5rem, 10vw, 10rem);
  color: white;
  font-weight: bolder;
  margin: 0;
  padding: 0;
}
html .header .header__banner .header__titulo h2 {
  font-size: 5rem;
}
html .header .header__banner .header__titulo p {
  font-size: 2.5rem;
  font-weight: lighter;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
html .header .header__banner--secundario {
  width: 100%;
  height: 70vh;
  background-color: black;
  position: relative;
  overflow: hidden;
  display: flex;
}
html .header .header__banner--secundario h1 {
  color: white;
  font-weight: lighter;
  font-style: italic;
  position: absolute;
  bottom: 0%;
  padding: 2rem;
  margin: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
html .header .header__banner--secundario img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 50%;
}
html .header nav {
  background-color: white;
  height: 70px;
  display: flex;
  align-content: center;
  box-shadow: 0px 5px 11px -1px rgba(0, 0, 0, 0.1);
}
html .header nav img {
  width: 7.5rem;
}
html .header nav .nav-link {
  font-size: 1.3rem;
  margin: 0 2rem;
  color: #000;
  position: relative;
  text-transform: uppercase;
}
@media screen and (min-width: 992px) {
  html .header nav .nav-link i {
    display: none;
  }
  html .header nav .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    visibility: hidden;
    background-color: #FF9E00;
    transition: width 0.2s ease-in-out;
  }
  html .header nav .nav-link:hover::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 2px;
    visibility: visible;
    background-color: #FF9E00;
  }
  html .header nav .nav-link.active::before {
    width: 100%;
    visibility: visible;
  }
}
@media screen and (max-width: 768px) {
  html .header nav .nav-link {
    margin: 1rem 0;
    padding: 1rem 0;
  }
  html .header nav i {
    color: #FF9E00;
  }
  html .header nav .navbar-toggler {
    border: none;
    font-size: 1.6rem;
  }
  html .header nav .navbar-toggler:focus {
    box-shadow: none;
  }
}
html .footer {
  display: flex;
  width: 100%;
  height: auto;
  padding: 2rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #464646;
}
html .footer p {
  color: #595959;
  padding: 3rem;
  text-align: center;
}
html .footer a {
  color: #707070;
  text-decoration: none;
}
html .footer img {
  width: 9rem;
}
html .footer .social-media {
  display: flex;
  justify-content: center;
  width: 50%;
  border-bottom: 1px solid #595959;
  padding: 2rem 0 3rem 0;
}
html .footer .social-media i {
  width: 5rem;
  height: 5rem;
  font-size: 1.6rem;
  text-align: center;
  align-content: center;
  border-radius: 50%;
  color: #595959;
  background-color: transparent;
  border: 1px solid #595959;
  margin-right: 1rem;
  cursor: pointer;
  position: relative;
}
html .footer .social-media i:hover {
  color: #FF9E00;
  background-color: transparent;
  border: 1px solid #FF9E00;
  transition: all 1s ease;
}
html .index .main__section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
html .index .main__section:nth-child(even) {
  background-color: rgba(241, 241, 241, 0.6823529412);
}
html .index .main__section:nth-child(even) .main__section__box {
  flex-direction: row-reverse;
}
@media screen and (max-width: 768px) {
  html .index .main__section {
    height: 100%;
  }
}
html .index .main__section .main__section__box {
  max-width: 1320px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
  gap: 2rem;
}
html .index .main__section .main__section__box .main__section__item {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem 0;
}
@media screen and (max-width: 768px) {
  html .index .main__section .main__section__box .main__section__item {
    width: 100%;
  }
}
html .index .main__section .main__section__box .main__section__item p:nth-child(2) {
  color: #FF9E00;
}
html .index .main__section .main__section__box .main__section__item img {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 14% 86% 58% 42%/84% 40% 60% 16%;
}
@media screen and (max-width: 768px) {
  html .index .main__section .main__section__box .main__section__item img {
    width: 100%;
    border-radius: 8px;
  }
}
html .galeria .galeria__contenedor {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.6rem;
}
@media screen and (max-width: 768px) {
  html .galeria .galeria__contenedor {
    grid-template-columns: 1fr;
    width: 100%;
  }
}
html .galeria .galeria__contenedor img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}
@media screen and (max-width: 768px) {
  html .galeria .galeria__contenedor img {
    height: 400px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  html .galeria .galeria__contenedor .galeria__item {
    cursor: pointer;
    filter: grayscale(1);
    transition: 0.4s ease-in;
  }
  html .galeria .galeria__contenedor .galeria__item:hover {
    filter: grayscale(0);
    transition: 1s;
  }
  html .galeria .galeria__contenedor .galeria__item:nth-child(1) {
    grid-column: 1/3;
  }
  html .galeria .galeria__contenedor .galeria__item:nth-child(3) {
    grid-column: 4/-1;
    grid-row: -11/-9;
  }
  html .galeria .galeria__contenedor .galeria__item:nth-child(5) {
    grid-column: 2/4;
  }
  html .galeria .galeria__contenedor .galeria__item:nth-child(6) {
    grid-row: -9/-8;
  }
  html .galeria .galeria__contenedor .galeria__item:nth-child(7) {
    grid-column: 2/3;
    grid-row: -9/-8;
  }
  html .galeria .galeria__contenedor .galeria__item:nth-child(8) {
    grid-column: 3/5;
  }
  html .galeria .galeria__contenedor .galeria__item:nth-child(9) {
    grid-column: 1/3;
  }
}
html .quehacer .main__section:nth-child(1) {
  background-color: #FF9E00;
  color: white;
}
html .quehacer .main__section:nth-child(odd):not(:first-child) {
  background-color: rgba(241, 241, 241, 0.6823529412);
}
html .quehacer span {
  font-size: 1.2rem;
}
html .quehacer .row {
  margin: 0 auto;
  gap: 6rem 0rem;
  padding: 1rem;
}
html .quehacer .row .card {
  border: none;
  margin: 0 auto;
  background-color: transparent;
  box-shadow: 0px 0px 10px 1px #c3c3c3;
  cursor: pointer;
  transition: all 0.3s ease;
}
@media screen and (min-width: 992px) {
  html .quehacer .row .card {
    width: 70%;
  }
}
html .quehacer .row .card img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
html .quehacer .row .card .card-body {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
html .quehacer .row .card .card__btn {
  background-color: #FF9E00;
  display: block;
  color: #fff;
  text-decoration: none;
  text-align: center;
  border-radius: 0.8rem;
  padding: 0.5rem 1.2rem;
  cursor: pointer;
  border: 1px solid transparent;
  width: 100px;
  font-size: 1.5rem;
  transition: all 0.2s ease;
}
html .quehacer .row .card .card__btn:hover {
  background-color: transparent;
  border: 1px solid #FF9E00;
  color: #FF9E00;
}
html .contacto__formulario {
  width: 100%;
  background: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: 40% 40%;
  gap: 2.5rem 2rem;
}
@media screen and (max-width: 768px) {
  html .contacto__formulario {
    grid-template-columns: 60%;
  }
}
@media screen and (max-width: 468px) {
  html .contacto__formulario {
    grid-template-columns: 1fr;
  }
}
html .contacto__formulario input {
  padding: 1rem;
  border: none;
  height: 30px;
  border-radius: 0.6rem;
  border-left: 1px solid #FF9E00;
  background-color: white;
  color: black;
  box-shadow: -7px 7px 24px -12px rgba(143, 143, 143, 0.59);
}
html .contacto__formulario input::-moz-placeholder, html .contacto__formulario textarea::-moz-placeholder {
  opacity: 0.4;
}
html .contacto__formulario input::placeholder,
html .contacto__formulario textarea::placeholder {
  opacity: 0.4;
}
html .contacto__formulario textarea {
  grid-column: 1/-1;
  padding: 1rem;
  border: none;
  min-width: 100%;
  border-radius: 0.6rem;
  border-left: 1px solid #FF9E00;
  background-color: white;
  color: black;
  box-shadow: -7px 7px 24px -12px rgba(143, 143, 143, 0.59);
}
html .contacto__formulario button {
  display: block;
  width: 15rem;
  padding: 1rem;
  border: 1px solid transparent;
  border-radius: 7px;
  background-color: #FF9E00;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}
html .contacto__formulario button:hover {
  background-color: white;
  border: 1px solid #FF9E00;
  color: #FF9E00;
}
html .contenedor-grid {
  display: grid;
  grid-template-columns: [fullwidth-start] 1fr [breakout-start] 1fr [content-start] 3fr [content-end] 1fr [breakout-end] 1fr [fullwidth-end];
}
html .contenedor-grid > * {
  grid-column: content;
}
@media screen and (max-width: 768px) {
  html .contenedor-grid > * {
    grid-column: fullwidth;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  html .contenedor-grid > * {
    grid-column: breakout;
  }
}
html .contenedor-grid > .fullwidth {
  grid-column: fullwidth;
}
html .contenedor-grid img {
  width: 100%;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 4rem 0;
}
html .contenedor-grid .grid__box__item {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
html .contenedor-grid .main__btn {
  background-color: #FF9E00;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  text-align: center;
  border-radius: 0.8rem;
  padding: 0.5rem 1.2rem;
  cursor: pointer;
  border: 1px solid transparent;
  width: 200px;
  font-size: 1.5rem;
  transition: all 0.2s ease;
}
html .contenedor-grid .main__btn:hover {
  background-color: transparent;
  border: 1px solid #FF9E00;
  color: #FF9E00;
}